* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --brand-color: #22A39F;
  --dark-color: rgb(24, 29, 49);
  --margin-right: 5%;
}

header {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background-color: var(--brand-color);
  padding: 10px 10px 10px 160px;
  margin: 10px 0;
  color: var(--dark-color);
  text-align: right;
  font-size: 3rem;
}

header nav ul li {
  display: inline-block;
}

header nav {
  margin-right: var(--margin-right);
}

header nav ul li a {
  color: var(--brand-color);
  font-size: 1.5rem;
  margin-left: 5px;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 5px solid var(--brand-color);
}

.hero-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    rgba(24, 29, 49, 0.5),
    rgba(24, 29, 49, 0.5)
  ), url(../images/02-hero-bg.jpg);
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.hero-banner div {
  margin-right: var(--margin-right);
  margin-bottom: 20px;
  background-color: var(--brand-color);
  padding: 5px;
}

.page-wrapper {
  margin: 40px 6%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.page-section {
  display: flex;
  gap: 10px;
}

.page-section div {
  padding-left: 25px;
  border-left: 3px solid var(--dark-color);
  padding-bottom: 20px;
  flex-basis: 90%;
}

.page-section h2 {
  color: #263159;
  font-size: 2rem;
  flex-basis: 10%;
  text-align: right;
}

#work article:first-of-type {
  flex-basis: 100%;
}